CONFIG_MPFS_PRIORITISE_QSPI_BOOT=n
CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:2"
CONFIG_ENV_FAT_FILE="uboot-env.bin"
# CONFIG_OF_BOARD=y  # Remove this - BeagleV-Fire does not have support for it in linux4microchip/u-boot-mchp. Causes undefined board_fdt_blob_setup error.
# CONFIG_OF_BOARD_SETUP=y  # Remove this - Causes undefined ft_board_setup error
CONFIG_DISTRO_DEFAULTS=y